footer.page-footer
  .page-footer__wrapper
    .page-footer__col
      a.page-footer__logo-academy(href="#" aria-label="Ссылка на сайт HTML-Академии")
        svg(width="132" height="46")
          use(xlink:href="/img/sprite_auto.svg#logo-htmlac")
      p.page-footer__copyright © 2019 Проект Академии
    .page-footer__col
      a.page-footer__logo.logo(href="#")
        img(src="/img/logo.svg" width="179" height="35" alt="Логотип Куплю Продам")
    .page-footer__col
      ul.page-footer__nav
        li
          a(href="/register") Вход и регистрация
        li
          a(href="/offers/add") Создать объявление
