header.header
  .header__wrapper
    a.header__logo.logo(href="/")
      img(src="/img/logo.svg" width="179" height="34" alt="Логотип Куплю Продам")
    nav.header__user-menu
      ul.header__list
        li.header__item
          a(href="/") Публикации
        li.header__item
          a(href="/my/comments") Комментарии
    form.search(method="get" action="/search" autocomplete="off")
      input(type="search" name="search" placeholder="Поиск" aria-label="Поиск")
      .search__icon
      .search__close-btn
    a.header__avatar.avatar(href="#")
      img(src="/img/avatar.jpg" srcset="/img/avatar@2x.jpg 2x" alt="Аватар пользователя")
    a.header__input(href="/register") Вход и регистрация
