# Файлы и директории операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Директория с собранными файлами проекта
build/

# Директория с загруженными изображениями
src/express/upload/img/*.*

# Файл с переменными окружения
.env

# Пустой файл для того, чтобы git сохранил директорию в системе контроля версий
!src/express/upload/img/.gitkeep
