# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Папка с собранными файлами проекта
build/

# Директория с загруженными изображениями
src/express/upload/img/*.*

!src/express/upload/img/.gitkeep
