extends layout.pug

block content
  main.page-content
    include partials/categories.pug

    section.tickets-list
      h2.visually-hidden Предложения из категории электроника
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title
            | #{offers.category.name}  &nbsp;
            b.js-qty #{count}
        if (offers.current.length > 0)
          ul
            each offer of offers.current
              li.tickets-list__item
                include partials/offer-card.pug
        else
          p Объявления отсутствуют
  +pagination(page, totalPages, 2, `?`)
