doctype html
head
  meta(charset='UTF-8')
  meta(name='description' content='Доска объявлений — современный веб-сайт, упрощающий продажу или покупку абсолютно любых вещей.')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Куплю. Продам
  link(rel='stylesheet' href='/css/style.min.css')
body
  include partials/header.pug
  block content
  include partials/footer.pug
  script(src='/js/vendor.js')
  script(src='/js/main.js')
