extends layout.pug

block content
  main.page-content
    .message
      .message__text
        p На сайте еще не опубликовано ни одного объявления.
      a.message__link.btn.btn--big(href="/register") Вход и регистрация
