extends layout.pug

block content
  main.page-content
    section.search-results
      h1.visually-hidden Результаты поиска
      .search-results__wrapper
        p.search-results__label
          | Найдено
          span.js-results 2 публикации
        ul.search-results__list
          li.search-results__item
            .ticket-card.ticket-card--color05
              .ticket-card__img
                img(src="/img/item05.jpg" srcset="/img/item05@2x.jpg 2x" alt="Изображение товара")
              .ticket-card__info
                span.ticket-card__label ПРОДАМ
                .ticket-card__categories
                  a(href="#") Авто
                .ticket-card__header
                  h3.ticket-card__title
                    a(href="#") Ленд Ровер
                  p.ticket-card__price
                    span.js-sum 900 000
                    |  ₽
                .ticket-card__desc
                  p Куплю монстеру зеленую в хорошем зеленом состоянии, буду поливать...
          li.search-results__item
            .ticket-card.ticket-card--color16
              .ticket-card__img
                img(src="/img/item16.jpg" srcset="/img/item16@2x.jpg 2x" alt="Изображение товара")
              .ticket-card__info
                span.ticket-card__label ПРОДАМ
                .ticket-card__categories
                  a(href="#") Авто
                .ticket-card__header
                  h3.ticket-card__title
                    a(href="#") Хонда
                  p.ticket-card__price
                    span.js-sum 100 000
                    |  ₽
                .ticket-card__desc
                  p Куплю монстеру зеленую в хорошем зеленом состоянии, буду поливать...
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
          a.tickets-list__link(href="#") Еще 25
        ul
          li.tickets-list__item
            .ticket-card.ticket-card--color01
              .ticket-card__img
                img(src="/img/item01.jpg" srcset="/img/item01@2x.jpg 2x" alt="Изображение товара")
              .ticket-card__info
                span.ticket-card__label Куплю
                .ticket-card__categories
                  a(href="#") Дом
                .ticket-card__header
                  h3.ticket-card__title
                    a(href="#") Монстера
                  p.ticket-card__price
                    span.js-sum 1000
                    |  ₽
                .ticket-card__desc
                  p Куплю монстеру зеленую в хорошем зеленом состоянии, буду поливать...
          li.tickets-list__item
            .ticket-card.ticket-card--color02
              .ticket-card__img
                img(src="/img/item02.jpg" srcset="/img/item02@2x.jpg 2x" alt="Изображение товара")
              .ticket-card__info
                span.ticket-card__label ПРОДАМ
                .ticket-card__categories
                  a(href="#") Дом
                .ticket-card__header
                  h3.ticket-card__title
                    a(href="#") Мое старое кресло
                  p.ticket-card__price
                    span.js-sum 4000
                    |  ₽
                .ticket-card__desc
                  p Продам свое старое кресло, чтобы сидеть и читать книги зимними...
          li.tickets-list__item
            .ticket-card.ticket-card--color03
              .ticket-card__img
                img(src="/img/item03.jpg" srcset="/img/item03@2x.jpg 2x" alt="Изображение товара")
              .ticket-card__info
                span.ticket-card__label ПРОДАМ
                .ticket-card__categories
                  a(href="#") ЭЛЕКТРОНИКА
                  a(href="#") Дом
                .ticket-card__header
                  h3.ticket-card__title
                    a(href="#") Дедушкины часы
                  p.ticket-card__price
                    span.js-sum 45 000
                    |  ₽
                .ticket-card__desc
                  p Продаю дедушкины часы в прекрасном состоянии, ходят до...
          li.tickets-list__item
            .ticket-card.ticket-card--color04
              .ticket-card__img
                img(src="/img/item04.jpg" srcset="/img/item04@2x.jpg 2x" alt="Изображение товара")
              .ticket-card__info
                span.ticket-card__label Куплю
                .ticket-card__categories
                  a(href="#") Дом
                .ticket-card__header
                  h3.ticket-card__title
                    a(href="#") Кофеварка
                  p.ticket-card__price
                    span.js-sum 2000
                    |  ₽
                .ticket-card__desc
                  p Куплю вот такую итальянскую кофеварку, можно любой фирмы...
          li.tickets-list__item
            .ticket-card.ticket-card--color05
              .ticket-card__img
                img(src="/img/item05.jpg" srcset="/img/item05@2x.jpg 2x" alt="Изображение товара")
              .ticket-card__info
                span.ticket-card__label ПРОДАМ
                .ticket-card__categories
                  a(href="#") Авто
                  a(href="#") ЭЛЕКТРОНИКА
                .ticket-card__header
                  h3.ticket-card__title
                    a(href="#") Ленд Ровер
                  p.ticket-card__price
                    span.js-sum 900 000
                    |  ₽
                .ticket-card__desc
                  p Куплю монстеру зеленую в хорошем зеленом состоянии, буду поливать...
          li.tickets-list__item
            .ticket-card.ticket-card--color06
              .ticket-card__img
                img(src="/img/item06.jpg" srcset="/img/item06@2x.jpg 2x" alt="Изображение товара")
              .ticket-card__info
                span.ticket-card__label ПРОДАМ
                .ticket-card__categories
                  a(href="#") ЭЛЕКТРОНИКА
                .ticket-card__header
                  h3.ticket-card__title
                    a(href="#") Ableton
                  p.ticket-card__price
                    span.js-sum 88 000
                    |  ₽
                .ticket-card__desc
                  p Продам свое старое кресло, чтобы сидеть и читать книги зимними...
          li.tickets-list__item
            .ticket-card.ticket-card--color07
              .ticket-card__img
                img(src="/img/item07.jpg" srcset="/img/item07@2x.jpg 2x" alt="Изображение товара")
              .ticket-card__info
                span.ticket-card__label ПРОДАМ
                .ticket-card__categories
                  a(href="#") Спорт и отдых
                .ticket-card__header
                  h3.ticket-card__title
                    a(href="#") Доска
                  p.ticket-card__price
                    span.js-sum 55 000
                    |  ₽
                .ticket-card__desc
                  p Продаю дедушкины часы в прекрасном состоянии, ходят до...
          li.tickets-list__item
            .ticket-card.ticket-card--color08
              .ticket-card__img
                img(src="/img/item08.jpg" srcset="/img/item08@2x.jpg 2x" alt="Изображение товара")
              .ticket-card__info
                span.ticket-card__label Куплю
                .ticket-card__categories
                  a(href="#") ЭЛЕКТРОНИКА
                .ticket-card__header
                  h3.ticket-card__title
                    a(href="#") Фотик Canon
                  p.ticket-card__price
                    span.js-sum 32 000
                    |  ₽
                .ticket-card__desc
                  p Куплю вот такую итальянскую кофеварку, можно любой фирмы...
